/* * {
  margin: 0px;
  border: 0px;
} */
.container {
  /* border: 1px solid blue; */
  width: 50%;
  height: 50%;
  margin-left: 30%;
}
.upper {
  /* border: 2px solid red; */
  height: 20px;
  width: 50px;
  display: flex;
  margin-left: 250px;
}
.txt-up {
  /* border: 1px solid yellow;   */
  border-radius: 3px;
  color: azure;
  font-family: sans-serif;
  font-weight: 10px;
  font-size: 15px;
  background-color: black;
  height: 19px;
  width: 32px;
}
.img-up {
  /* border: 1px solid yellowgreen; */
  width: 18px;
  height: 20px;
  background-image: url(/ico.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.center {
  /* border: 3px solid green; */
}
/* .cont1 {
  border: 2px solid red;
} */

.cont2 {
  /* border: 1px solid orange; */
}
.p1 {
  /* border: 2px solid yellowgreen; */
  width: 40%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 3% 0% 0% 25%;
}
.p2 {
  /* border: 2px solid yellowgreen; */
  width: 40%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 1% 0% 0% 25%;
}
.p3 {
  /* border: 2px solid yellowgreen; */
  width: 40%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 1% 0% 0% 25%;
}
.cont3 {
  /* border: 2px solid purple; */
}
.txt1 {
  /* border: 2px solid blue; */
  width: 40%;
  display: flex;
  margin-left: 20%;
}
.para1 {
  /* border: 2px solid blue; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.txt2 {
  /* border: 2px solid orange; */
  width: 40%;
  display: flex;
  margin-left: 20%;
}
.para2 {
  /* border: 2px solid orange; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.txt3 {
  /* border: 2px solid red; */
  width: 40%;
  display: flex;
  margin-left: 20%;
}
.para3 {
  /* border: 2px solid red; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
#icon {
  /* border: 1px solid cyan; */
  height: 20px;
  width: 20px;
  margin-left: 7px;
  margin-top: 15px;
  color: rgb(0, 0, 0);
}